html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  /* your properties here */
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
